html {
  background-color: #1a202c;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

.gradient-text {
  background: linear-gradient(45deg, #984447 45%, #c75146 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-container {
  background: linear-gradient(45deg, #984447 45%, #c75146 100%);
  color: #cbd5e0
}