version: 2.1
executors:
  main-executor:
    docker:
      - image: circleci/node:lts
  cypress-executor:
    docker:
      - image: cypress/browsers
  docker-publisher:
    environment:
      IMAGE_NAME: jonathancardoso/building-on-ci
    docker:
      - image: circleci/buildpack-deps:stretch

jobs:
  install-dependencies:
    executor: main-executor
    parameters:
      app-path:
        type: string
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-{{ .Branch }}-{{ checksum "<< parameters.app-path >>/package.json" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          command: npm ci
          working_directory: ./<< parameters.app-path >>
      - save_cache:
          key: v2-deps-{{ .Branch }}-{{ checksum "<< parameters.app-path >>/package.json" }}
          paths:
            - ~/.cache
            - << parameters.app-path >>/node_modules

  check-format:
    executor: main-executor
    parameters:
      app-path:
        type: string
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-{{ .Branch }}-{{ checksum "<< parameters.app-path >>/package.json" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run: cd << parameters.app-path >> && npm run format:check

  test:
    executor: cypress-executor
    parameters:
      app-path:
        type: string
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-{{ .Branch }}-{{ checksum "<< parameters.app-path >>/package.json" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          command: npm run test
          working_directory: ./<< parameters.app-path >>

  build:
    executor: main-executor
    parameters:
      app-path:
        type: string
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-{{ .Branch }}-{{ checksum "<< parameters.app-path >>/package.json" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          command: npm run build
          working_directory: ./<< parameters.app-path >>

workflows:
  version: 2

  deploy:
    jobs:
      - install-dependencies:
          name: install-dependencies-serverapp
          app-path: "serverapp"
          filters:
            tags:
              only: /.*/
      - install-dependencies:
          name: install-dependencies-webapp
          app-path: "webapp"
          filters:
            tags:
              only: /.*/
      - check-format:
          name: check-format-serverapp
          app-path: "serverapp"
          requires:
            - install-dependencies-serverapp
          filters:
            tags:
              only: /.*/
      - check-format:
          name: check-format-webapp
          app-path: "webapp"
          requires:
            - install-dependencies-webapp
          filters:
            tags:
              only: /.*/
      - test:
          name: test-serverapp
          app-path: "serverapp"
          requires:
            - check-format-serverapp
          filters:
            tags:
              only: /.*/
      - test:
          name: test-webapp
          app-path: "webapp"
          requires:
            - check-format-webapp
          filters:
            tags:
              only: /.*/
      - build:
          name: build-serverapp
          app-path: "serverapp"
          requires:
            - test-serverapp
          filters:
            tags:
              only: /.*/
      - build:
          name: build-webapp
          app-path: "webapp"
          requires:
            - test-webapp
          filters:
            tags:
              only: /.*/
